/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end reset */
html,
body  {
    font-family: arial, "Trebuchet MS", sans-serif;
    background: #fff;
    margin: 0;  /* shorthand for all margins = 0 */
    padding: 0;
	height: 100%;
}
p, h1, h2, h3, h4, h5, h6, li {
    margin: 1ex 1em;
}
p  {
    margin: 3ex 1ex 1ex 1ex;
    line-height: 1.25em;
}
p:first-line {
    font-size: 1.2em;
}
h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
    font-family: Georgia, trebuchet MS, Arial;
    font-size: 2.2em;
    font-weight: bold;
    color: #111;

}
ul {
    list-style-type: disc;
    margin-left: 10px;
}
h2 {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.6em;
    font-weight: bold;
    clear:both;

}

h3 {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 12px;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: underline;

}
h4 {
    tex-align: left;
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
/*h5 {      *//*   for names on drawings     */
   /*margin-top:5px;*/
   /*font-size: 1.4em;*/
   /*font-weight: bold;*/
   /*font-variant: small-caps;*/

/*}*/
h6 {  /*used on forms  */
    font-size: .75em;
}

legend {
    font-size: 1.1em;
}
a {
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
    color: #2B56AC;
    font-size: 1.05em;
}

a:hover {
    color: #cb5846;
}

img {
    padding: 1px 3px;
}
a img {
	border: none; 
}

#outerDiv {
	width: 800px;
	margin: 0 auto;
	min-height: 100%;
	position: relative;

}

#headerBox {
	width: 800px;
	height: 120px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
}

div#logo {
	margin: 10px 0;
	/*position: relative;*/
	width: 350px;
	border-style: none;
}

div#viewCartBox {
	display: block;
	position: absolute;
	height: 80px;
	top: 5px;
	right: 0;
	text-align: center;
	
}

#mainMenu {
	position: relative;

}

#mainMenu ul {
    width: 725px;
	list-style: none;
    /*margin: 0 0 0 25px;*/
    padding: 0;
    margin-left: auto;
    margin-right: auto;

}

#mainMenu li {
    float: left;
    margin: 0;
    padding: 0;
}

#mainMenu ul li a {
    font-family: "Trebuchet MS", sans-serif;
    display: block;
    color: #fff;
    text-decoration: none;
	font-weight: bold;
    padding: 0 15px 0 15px;
    margin-right: 5px;
    line-height: 25px;
    background-color: #A90000;
    border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#mainMenu a:hover {
    color: #f8b449;
}

/*
#mainMenu a.current {
    background-color: gray;
	/*margin-top: -5px;
    height: 30px;
    color: #aaa;*/
    /*line-height: 25px;
}

#mainMenu a.current:hover {
    cursor: default;
}*/
.outerpicbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.picbox {
    padding-top: 30px;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}
 .caption {
    text-align: center;
     font-size: 1.5em;
     padding-top: 10px;
 }
 .outerdrawingbox{

 }
 .drawing {
     opacity: .70;
     float: left;
     margin-top: 10px;
     margin-left:10px;
     margin-bottom: 10px;
     height: 220px;
     }
 .drawing:hover {
     opacity: 1;
     color: #2B56AC;

 }
 .drawing a:hover {
     color: #2B56AC;

 }
 .drawing .name {

     margin-top:5px;
     font-size: 1.4em;
     font-weight: bold;
     font-variant: small-caps;
     /*margin-left:-5px;*/
     text-align: center;
     /*font-size: 1em;*/
     /*width: 120px;*/
     /*padding-left: 10px;*/

 }
.drawing .name p {
    margin-top:1px;
    font-size: .6em;
}
.button{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.2em;
    display: block;
    width: 200px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 0 15px 0 15px;
    margin-top: 10px;
    margin-right: 5px;
    line-height: 50px;
    background-color: #354c56;
    border: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
 }
.button:hover{
    background-color: #447fa6;
    color: #f8b449;

}
div#container {
    width: 800px;       /* sets the content width */
    margin: 0 auto;     /* no top/bottom margin, centered horizontally */
    background: none;
	/*padding-top: 15px;*/
	padding-bottom: 25px;
}
.addtocart {
    width: 400px;
    background-color: #cfcfd1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 30px;
}
div#data {
	top: 250px;
    bottom: 100px;
	padding-bottom: 25px;

}
div#data p{
    font-size:1em;
    margin-top:2ex;
    margin-left: 0;
}
div#data p:first-line{
    font-size: 100%;
}
div#leftdata {
	/*position: absolute;*/
    float: left;
	width: 400px;
    background-color: #cfcfd1;
	border-radius: 15px; 
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px;
	/*margin-top: 20px;*/
	padding-top: 10px;
	padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 5px;


}
.calcSubTitle {
    text-align: center;
}
.so {
    /*padding-bottom: 2ex;*/
}
.plusminus, .scoopPlusMinus {
    background-color: white;
    padding-left: 1px;
    padding-right: 1px;
    display: inline-block;
    height: 15px;
    width: 9px;
    text-align: center;
}

div#rightdata, #rightdatajr {
    width: 350px;
	float: right;
	padding: 15px 15px 0 15px;
    margin-top: 150px;
}
div#rightdatajr {
    margin-top: 0;
}
div#widthResponse p, div#depthResponse p{
	/*height: 10px;*/
    margin: 2ex 0ex 3ex 1ex;
    color: gray;
    line-height: 0%;
    font-size: 1em;
    /*padding-bottom: 15px;*/
}
div#divsResponse {
    color: gray;
}
/* killed on 9mar12 b/c we're going to use the button instead
div.callout {
	background-color: #8D000B;
	padding: 15px;
	margin: 50px;
	border-radius: 15px; 
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px; 
	text-decoration: none;
	text-align: center;
} */
.orderform {
    background-color: #CFCFD1;
}
a#price {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
a#price:hover{
    color: #f8b449;
}
#footerlinks {
   clear: both;
   padding-top: 60px;
   bottom:0;
   width:100%;
   height:25px;   /* Height of the footer */
   background:transparent;
   color: #bebebe;
}

#footerlinks a {
    padding-left: 20px;
    color: #bebebe;
}



/*6july11 used for no JS enabled on cmjr calcform */
#jsEnabled p{
	background: red;
}
