/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end reset */
html,
body  {
    font-family: "Trebuchet MS", sans-serif;
    background: #fff;
    margin: 0;  /* shorthand for all margins = 0 */
    padding: 0;
	height: 100%;
}

p, h1, h2, h3, h4, h5, h6, li {
    margin: 1ex 1em;
}

p  {
    margin: 3ex 1ex 1ex 1ex;
    line-height: 1.25em;

}

p:first-line {
    font-size: 1.1em;
}
h1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;
    font-family: trebuchet MS;
    font-size: 2.2em;
    font-weight: bold;
    color: #354C56;
	
}

h2 {
    text-align: left;
    margin-top: 2px;
    margin-bottom: 4px;
    font-size: 1.6em;
    font-weight: bold;

}

h3 {
    text-align: left;
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: underline;

}
img {
    padding: 1px 3px;
}
a img {
	border: none; 
}

#outerDiv {
	width: 800px;
	margin: 0 auto;
	min-height: 100%;
	position: relative;

}

#headerBox {
	width: 800px;
	height: 120px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
}

div#logo {
	margin: 10px 0;
	/*position: relative;*/
	width: 350px;
	border-style: none;
}

div#viewCartBox {
	display: block;
	position: absolute;
	height: 80px;
	top: 5px;
	right: 0;
	text-align: center;
	
}

#mainMenu {
	position: relative;
}

#mainMenu ul {
    width: 835px;
	list-style: none;
    margin: 0 0 0 25px;
    padding: 0;
}

#mainMenu li {
    float: left;
    margin: 0;
    padding: 0;
}

#mainMenu ul li a {
    font-family: "Trebuchet MS", sans-serif;
    display: block;
    color: #fff;
    text-decoration: none;
	font-weight: bold;
    padding: 0 15px 0 15px;
    margin-right: 5px;
    line-height: 25px;
    background-color: #A90000;
    border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#mainMenu a:hover {
    color: #f8b449;
}

/*
#mainMenu a.current {
    background-color: gray;
	/*margin-top: -5px;
    height: 30px;
    color: #aaa;*/
    /*line-height: 25px;
}

#mainMenu a.current:hover {
    cursor: default;
}*/

.button {
    border-top: 1px solid #96d1f8;
    background: #447fa6;
    background: -webkit-gradient(linear, left top, left bottom, from(#267482), to(#376173));
    background: -webkit-linear-gradient(top, #267482, #376173);
    background: -moz-linear-gradient(top, #267482, #376173);
    background: -ms-linear-gradient(top, #267482, #376173);
    background: -o-linear-gradient(top, #267482, #376173);
    padding: 10px 29px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #ffffff;
    font-size: 23px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    border-top-color: #28597a;
    background: #71a3b9;
    color: #ccc;
}
.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

div#container {
    width: 800px;       /* sets the content width */
    margin: 0 auto;     /* no top/bottom margin, centered horizontally */
    background: none;
	padding-top: 15px;
	padding-bottom: 25px;
}

div#data {
	position: relative;
	padding-bottom: 25px;

}	

div#leftdata {
	position: absolute;
	width: 390px;
	background-color: #f0f0f0;
	border-radius: 15px; 
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 25px;
}

div#rightdata {
    width: 350px;
	float: right;
	padding: 15px 15px 0 15px;
	
}

div#rightdata p{
	background-color: yellow;
}

div#widthResponse p, div#depthResponse p{
	height: 50%;
	color: gray;
}

div.callout {
	background-color: #8D000B;
	padding: 15px;
	margin: 50px;
	border-radius: 15px; 
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px; 
	text-decoration: none;
	text-align: center;
	
}

a {
	text-decoration: underline;
    color: #0D3968;
}

a#price {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

#footer {
   clear: both;
   position:absolute;
   bottom:0;
   width:100%;
   height:25px;   /* Height of the footer */
   background:transparent;
   color: #bebebe;
}   


}
/*6july11 used for no JS enabled on cmjr calcform */
#jsEnabled p{
	background: red;
}
/* end 6july11 */


/*

div#header {
    height: 110px;      // set size equal to banner image 
    position: relative;
}

#outerDiv a:link, #outerDiv a:visited {
    text-decoration: none;
    color: #b36b00;
}

#outerDiv a:hover, #outerDiv a:active {
    color: #566440;
    border-bottom: 1px dashed #566440;
}

*/